extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else

  - let carid = toShow._id
  - let carname = toShow.carname
  - let carbrand = toShow.brand
  - let carmanufacturing_year = toShow.manufacturing_year
  div
    div.row
      div(class='carAttr mr-3') car ID is:
      div(class='carAttr') #{carid}
    div.row
      div(class='carAttr mr-3') car name is:
      div(class='carAttr') #{carname}
    div.row
      div(class='carAttr mr-3') car brand is:
      div(class='carAttr') #{carbrand}
    div.row
      div(class='carAttr mr-3') car manufacturing_year is:
      div(class='carAttr') #{carmanufacturing_year}
